SHOPDB_CONN=DRIVER={ODBC Driver 18 for SQL Server};SERVER=(localdb)\MSSQLLocalDB;DATABASE=ShopDB;Trusted_Connection=yes;TrustServerCertificate=yes
SQL_SERVER_INSTANCE=(localdb)\MSSQLLocalDB
LEGACY_API_URL=http://localhost:5000
NEW_API_URL=http://localhost:8000
